.orders {
    width: 98%;
    //padding: 10px;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    &__title{
        color: goldenrod;
        font-size: 2.5rem;
    }
    &__rows:nth-child(odd) {
        background-color: #fada9e;
    }
    &__rows:nth-child(even) {
        background-color: #fada9e2f;
    }
    &__cells {
        width: fit-content;
        padding: 0.5rem;
    }
    &__header-cells {
        text-align: left;
        color: goldenrod;
        text-align: center;
    }
}