.cart{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 2rem;
    &__head{
        padding: 2.1rem 1rem;
        display: flex;
        align-items: center;
        border-bottom: 0.1rem solid #fde6ad;
        color: rgb(165, 125, 25);
        flex-wrap: wrap;
        font-size: 1.3rem;
    }
    &__items{
        padding: 0;
        list-style: none;
    }
    &__pic{
        width: 5rem;
        border: solid 1px #0000003b;
        border-radius: 4px;
    }
    &__title{
        color: rgb(165, 125, 25);
        font-size: 1.3rem;
    }
    &__card{
        display: flex;
        align-items: center;
        box-shadow: -1px 1px 5px #0000003b;
        border-radius: 6px;
        padding: 1rem;
        width: 20%;
    }
    &__right{
        padding: 0 0.5rem;
        width: 100%;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__btn{
        height: fit-content;
        border: 0.1rem solid #daa520;
        background-color: transparent;
        color: #daa520;
        padding: 1rem 2rem;
        border-radius: 3px;
        cursor: grab;
        font-size: 1.6rem;
        margin: 1rem;
        &:hover{
            background-color: #daa520;
            color: #fff;
        }
        &:active{
            cursor: grabbing;
        }
    }
    &__calc{
        color: rgb(165, 125, 25);
    }
    &__total{
        display: flex;
        justify-content: space-between;
        margin: 0 2rem;
        width: 20%;
    }
}