.sort-filter{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 0.1rem solid #fde6ad;
    &__sort{
        display: flex;
    }
    &__filter{
        display: flex;
    }
    &__title{
        margin: 0;
        color: rgb(165, 125, 25);
        padding: 0 1rem;
    }
    &__select{
        appearance: none;
        background-color: transparent;
        border: 1px solid #daa520;
        border-radius: 99em;
        padding: 0;
        margin: 0;
        width: 7rem;
        height: 2rem;
        padding: 0 0.5em;
        outline: none;
        color: #daa520;
        background-color: transparent;
        background-image: url('../../assets/icons/down-arrow.svg');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 1.5rem;
    }
}