.details {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__shadow{
        position: fixed;
        top: 0;
        background-color: rgba(128, 128, 128, 0.514);
        width: 100vw;
        height: 100vw;
    }
    &__window{
        padding: 3rem;
        border-radius: 6px;
        z-index: 4;
        background-color: white;
        background-size: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 60%;
        height: fit-content;
        box-shadow: -3px 3px 15px rgba(218, 165, 32, 0.507);
    }
    &__btn{
        align-self: flex-end;
        position: relative;
        z-index: 20;
        text-align: center;
        flex: 1;
        border: 0.1rem solid #daa520;
        background-color: transparent;
        color: #daa520;
        padding: 1rem;
        border-radius: 3px;
        cursor: pointer;
        font-size: 1.6rem;
        &:hover{
            background-color: #daa520;
            color: #fff;
        }
    }
    &__contents{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__text{
        color: rgb(165, 125, 25);
        margin: 0;
        padding: 0.5rem;
    }
}